<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You for Your Response</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f2f2f2;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin:auto;
            margin-top: 16%;
            margin-bottom: 16px;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            background-color: rgba(255, 255, 255, 0.9);
            padding: 30px;
        }
        h1 {
            color: #333;
            font-size: 36px;
        }
        p {
            color: #555;
            font-size: 18px;
        }
        @media screen and (max-width : 480px){
            .container{
                margin-top: 40%;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Thank You for Your Response</h1>
        <p>We appreciate your feedback. Your response has been received.</p>
        <a href="/">Give another feedback</a>
    </div>

    <div class="footer">
        © 2023 Copyright:
        <a class="text-white" href="https://gujaratindia.gov.in/">Government of Gujarat</a>
    </div>
</body>
</html>